<nav class="level">
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Cart Items</p>
      <p class="title">{{cart.value}}</p>
      <br>
       <p class="heading">{{cart.timestamp}}</p>
    </div>
  </div>
</nav>