{
    "presets": [
        ["env", {
            "modules": false
        }]
    ],
    "plugins": ["external-helpers", ["transform-inline-environment-variables", {
        "include": [
          "NODE_ENV"
        ]
      }]]
}