<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Header Data
      </h1>
      <h2 class="subtitle">
        {{header.value}} {{header.timestamp}}
      </h2>
    </div>
  </div>
</section>